# Dependências
node_modules/
dist/
dist-ssr/
*.local

# Editores e IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Arquivos de Sistema
.DS_Store
Thumbs.db
desktop.ini

# Google Drive e backups temporários
.tmp.driveupload/
*.tmp
Icon?
*.gdoc
*.gslides
